body {
    width: 100vw;
    background-color: lightblue;
}

article.statement-card {
    display: inline-block;
}

.statement-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5rem;
    width: 30vw;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: lightcyan;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

i.fa-up-right-from-square{
    color: black;
}